@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

:root {
  font-family: "Kosugi Maru", sans-serif;
  color: #000;
  background-color: #a9dce1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
  background-color: #a9dce1;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: #a9dce1;
}

button,
input {
  font: inherit;
}

button {
  border: none;
}
